<!--Code goes here for the "Editing `list_name`" and the "Delete List" stuff up top-->
<section id="todos">
  <header>
    <h2>Editing '<%= @list[:name] %>'</h2>
    <ul>
      <li>
        <form action="/lists/<%= @list_id.to_s %>/delete" method="post">
          <button class="delete" type="submit">Delete List</button>
        </form>
      </li>
    </ul>
  </header>

  <br>

  <form action="/lists/<%= @list_id.to_s %>" method="post">
    <dl>
      <dt>
        <label for="list_name">Enter the new name for the list:</label>
      </dt>
      <dd>
        <input name="list_name" type="text" value="<%= params[:list_name] || @list[:name] %>">
      </dd>
    </dl>
    <fieldset class="actions">
      <input type="submit" value="Save"> <!--`input` instead of `button` for css purposes-->
      <a href="/lists/<%= @list_id.to_s %>">Cancel</a>
    </fieldset>
  </form>
</section>
